@charset "utf-8";
#contacto {
	background-attachment: fixed;
	background-image: url(imagenes/slider.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.contacto {
	font-family: Tahoma, Geneva, sans-serif;
	font-style: italic;
	color: #F01;
	text-shadow: 1px 1px 0px rgba(230,230,230,1), 2px 2px 0px rgba(200,200,200,1), 3px 3px 0px rgba(180,180,180,1), 4px 4px 0px rgba(160,160,160,1), 5px 5px 0px rgba(0,0,0,1), 8px 8px 20px rgba(0,0,0,0.5);
margin-top: 5px; margin-right: 40px; margin-bottom: 10px; margin-left: 260px;
	}
h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #06C;
	margin-left: 200px;
	text-shadow: 1px 1px 0px rgba(230,230,230,1), 2px 2px 0px rgba(200,200,200,1), 3px 3px 0px rgba(180,180,180,1), 4px 4px 0px rgba(160,160,160,1), 5px 5px 0px rgba(0,0,0,1), 8px 8px 20px rgba(0,0,0,0.5);
	
}
